*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.contador {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    border-radius: 10px;
    width: 350px;
}

button {
    width: 80px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: #94e0f7;
    font-size: 20px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

button:hover {
  border: 2px solid rgb(197, 194, 194);;
  color: rgb(197, 194, 194);
}

P {
  font-weight: 600;
  color: white;
  font-size: 18px;
}

.red {
    color: red;
 }
 
 .green {
   color: green;
 }
 
 .black {
   color: black;
 }

 .contador> div {
    display: flex;
    gap: 20px;
 }